<!-- Display Word -->
#foreach($word in $words)
<h4>$word.getWord()<a href="/words/$word.getId()"><small><em> - see definition</em></small></a></h4>
#end
<form action="/" method="post">
    <input id="new-word" name="new-word" type="text">
    <button type="submit" class="btn btn-xs">Add Word</button>
</form>
