<!-- Display Word -->
#foreach($word in $words)
<h4><a href="/words/$word.getId()">$word.getWord()</a></h4>
#end
<h2>Add Word: </h2>
<form action='/' method='post'>
    <input id="new-word" name="new-word" type="text">
    <button type='submit' class='btn'>Add Word</button>
</form>
