<!DOCTYPE html>
    <html>
    <head>
        <title>Foster Dictionary</title>
        <link rel='stylesheet' href='/app.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Foster's Dictionary</h1>
            <div class="jumbotron">
                #parse( $template )
            </div>
        </div>
    </body>
</html>
